<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Create and share your blogs effortlessly. Read articles, share ideas, and explore interesting topics.">
    <meta name="keywords" content="blogs, blogging, articles, write, share, create blog">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/content.css">
    <link rel="stylesheet" href="/css/partials.css">

    <title>"My Blog App"</title>
</head>
<body>
<header>
    <h1>My Blog</h1>
</header>
<main>
